{% extends "base.html" %}

{% block content %}
<div class="welcome-container">
    <h2>Que voulez-vous faire aujourd'hui ?</h2>
    
    <div class="home-menu">
        <a href="/search" class="home-card">
            <div class="big-emoji">🔍</div>
            <h3>Rechercher</h3>
        </a>

        <a href="/gestion" class="home-card">
            <div class="big-emoji">📂</div>
            <h3>Gestion</h3>
        </a>

        <a href="http://192.168.1.181:8096/web" class="home-card" target="_blank">
            <div class="big-emoji">🍿</div>
            <h3>Jellyfin</h3>
        </a>

        <a href="/settings" class="home-card">
            <div class="big-emoji">⚙️</div>
            <h3>Réglages</h3>
        </a>
    </div>
</div>
{% endblock %}